.toggle-switch {
  border-radius: 100px;
  height: 28px;
  left: 20px;
  overflow: hidden;
  position: relative;
  width: 64px;

  .knob {
    background-color: #ffffff;
    border-radius: 100px;
    width: 39px;
  }

  &.off {
    background-color: #78787833;
    top: 67px;
  }

  &.on {
    align-items: center;
    background-color: #34c759;
    display: flex;
    justify-content: flex-end;
    top: 20px;
  }

  &.off .knob {
    height: 85.71%;
    left: 2px;
    position: relative;
    top: 7.14%;
  }

  &.on .knob {
    height: 24px;
    margin-right: 2px;
  }
}
