:root {
  --label-font-family: "Wix Madefor Display", Helvetica;
  --label-font-size: 17px;
  --label-font-style: normal;
  --label-font-weight: 500;
  --label-letter-spacing: 0px;
  --label-line-height: 100%;
  --text-font-family: "WindSong", Helvetica;
  --text-font-size: 17px;
  --text-font-style: normal;
  --text-font-weight: 500;
  --text-letter-spacing: 0px;
  --text-line-height: 100%;
}
